[submodule "blackbox"]
	path = blackbox
	url = git@github.com:Ferus/blackbox_IRC-macros.git
[submodule "cleverbot"]
	path = cleverbot
	url = https://github.com/superboum/cleverbot.git
[submodule "urbandict"]
	path = urbandict
	url = https://github.com/novel/py-urbandict.git
